In [1]:
import pandas as pd
train_df = pd.read_csv(r"C:\Users\kabil\Downloads\train.csv")

In [2]:
# Check for missing values
print("Missing values before cleaning:")
print(train_df.isnull().sum())

# Fill missing values for numeric columns with the mean
train_df['Age'].fillna(train_df['Age'].mean(), inplace=True)
train_df['Fare'].fillna(train_df['Fare'].mean(), inplace=True)

# Fill missing values for categorical columns with the mode
train_df['Embarked'].fillna(train_df['Embarked'].mode()[0], inplace=True)

# Optionally, drop rows with missing values if necessary
# train_df.dropna(inplace=True)

# Check data types
print("\nData types:")
print(train_df.dtypes)

Missing values before cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Data types:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
# Inspect missing values
print("Missing values before handling:")
print(train_df.isnull().sum())

# Fill missing values for 'Age' and 'Fare' with mean (or use other strategies if preferred)
train_df['Age'].fillna(train_df['Age'].mean(), inplace=True)
train_df['Fare'].fillna(train_df['Fare'].mean(), inplace=True)

# Check missing values again
print("\nMissing values after handling:")
print(train_df.isnull().sum())

Missing values before handling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

Missing values after handling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [5]:
# Calculate summary statistics for numeric columns
numeric_cols = ['Age', 'Fare']

# Mean
mean_values = train_df[numeric_cols].mean()
print("\nMean values:\n", mean_values)

# Median
median_values = train_df[numeric_cols].median()
print("\nMedian values:\n", median_values)

# Mode
mode_values = train_df[numeric_cols].mode().iloc[0]
print("\nMode values:\n", mode_values)

# Standard Deviation
std_dev_values = train_df[numeric_cols].std()
print("\nStandard deviation values:\n", std_dev_values)

Mean values:
 Age     29.699118
Fare    32.204208
dtype: float64

Median values:
 Age     29.699118
Fare    14.454200
dtype: float64

Mode values:
 Age     29.699118
Fare     8.050000
Name: 0, dtype: float64

Standard deviation values:
 Age     13.002015
Fare    49.693429
dtype: float64

In [6]:
# Inspect data types and summary statistics for all columns
print("\nData types:")
print(train_df.dtypes)

print("\nSummary of data:")
print(train_df.describe(include='all'))  # Comprehensive overview

Data types:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Summary of data:
        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   891.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      13.002015    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      22.000000    0.000000    0.000000     NaN    7.910400      NaN
50%      29.699118    0.000000    0.000000     NaN   14.454200      NaN
75%      35.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       891
unique        3
top           S
freq        646
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN